<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Feira & Office</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/APILP3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between align-items-center">
                <!-- Logo ou Título -->
                <a class="navbar-brand" href="/Identity/Account/Manage/HomePage">Feira & Office</a>

                <!-- Barra de navegação para as encomendas -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Manage/VerEncomendas">Ver suas encomendas</a>
                    </li>
                </ul>

                <!-- Barra de navegação para o carrinho -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Finalizar sessão</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
